<p class="ff-headers text-uppercase mb-3 fw-600">Pedido</p>
<div class="mb-5">
  <ngb-tabset>
    <ngb-tab title="Menú">
      <ng-template ngbTabContent>
        <br>
        <div *ngIf="menusArticulos">
          <div *ngFor="let menu of menusArticulos">
            <br>
            <p class="text-uppercase">{{menu.nombre}}</p>

            <div class="row">

              <div class="col-md-6" *ngFor="let articulo of menu.articulos">
                <div class="card card-body card-widget">
                  <div class="mr-3">
                    <img [src]="articulo.nombre | sinimagen" alt="64x64" class="mr-2 rounded"
                      style="width: 64px; height: 64px;" data-holder-rendered="true">
                  </div>
                  <div class="mr-auto">
                    <h5>{{articulo.nombre}}</h5>
                    <small>--------------</small>
                  </div>
                  <div class="block">
                    <button (click)="agregarPedido(articulo)"
                      class="btn btn-success btn-icon-icon waves-effect mr-1 mb-1 float-right" placement="top"
                      ngbTooltip="agregar" container="body">
                      <i class="fas fa-plus fa-2x"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div *ngIf="cargando">
  Cargando...
</div>

<div class="text-center" *ngIf="ordenDetalle.length > 0">
  <button class="btn btn-primary waves-effect">Ver pedido</button>
  <!-- <span class="badge badge-danger">4</span> -->
</div>