<div class="d-flex align-items-stretch flex-nowrap min-height-100 h-100">
  <div class="bg-cover bg-2 d-none d-md-inline-flex col-md-6 col-lg-8"></div>
  <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="guardar()">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="">
        <p class="ff-headers text-uppercase">Crea una cuenta</p>
      </div>
      <fieldset class="form-group">
        <label for="usuario">
          Elige un nombre de usuario
        </label>
        <input type="text" class="form-control" placeholder="nombre de usuario" [formControl]="form.controls['usuario']" [ngClass]="{'is-invalid': form.controls['usuario'].hasError('required') && form.controls['usuario'].touched}">
        <div class="invalid-feedback" *ngIf="form.controls['usuario'].hasError('required') && form.controls['usuario'].touched">Ingresa el nombre de usuario</div>
      </fieldset>

      <fieldset class="form-group">
        <label for="nombre">
          Ingresa tu nombre y apellido
        </label>

        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="nombre" [formControl]="form.controls['nombre']" [ngClass]="{'is-invalid': form.controls['nombre'].hasError('required') && form.controls['nombre'].touched}">
            <div class="invalid-feedback" *ngIf="form.controls['nombre'].hasError('required') && form.controls['nombre'].touched">Ingresa tu nombre</div>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="apellido" [formControl]="form.controls['apellido']" [ngClass]="{'is-invalid': form.controls['apellido'].hasError('required') && form.controls['apellido'].touched}">
            <div class="invalid-feedback" *ngIf="form.controls['apellido'].hasError('required') && form.controls['apellido'].touched">Ingresa tu apellido</div>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label for="email">
          Ingresa tu email
        </label>
        <input type="email" class="form-control" placeholder="email" [formControl]="form.controls['email']" [ngClass]="{'is-invalid': (form.controls['email'].hasError('email') || form.controls['email'].hasError('required')) && form.controls['email'].touched}">
        <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Ingresa tu email</div>
        <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched && !form.controls['email'].hasError('required')">email incorrecto</div>
      </fieldset>

      <fieldset class="form-group">
        <label for="password">
          Ingresa tu contraseña
        </label>
        <input type="password" class="form-control" placeholder="contraseña" [formControl]="form.controls['password']" [ngClass]="{'is-invalid': form.controls['password'].hasError('required') && form.controls['password'].touched}">
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Ingresa tu contraseña</div>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">
          Confirma tu contraseña
        </label>
        <input type="password" class="form-control" placeholder="confirma tu contraseña" [formControl]="form.controls['confirmPassword']"
          [ngClass]="{'is-invalid': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched || form.controls['confirmPassword'].hasError('equalTo') && form.controls['confirmPassword'].touched}">
        <div class="invalid-feedback" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">Confirma tu contraseña</div>
        <div class="invalid-feedback" *ngIf="form.controls['confirmPassword'].hasError('equalTo') && form.controls['confirmPassword'].touched">La contraseña debe coincidir</div>
      </fieldset>
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">He leído y acepto los términos del servicio.</label>
      </div>
      <div class="block mb-3"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Crear cuenta</button>
      <a class="btn btn-outline-primary btn-link" style="margin-left: 4px" [routerLink]="['/authentication/login']">Iniciar sesión!</a>
    </form>
  </div>
</div>