<div class="row">
  <div class="col-md-5">
    <div class="card card-body">
      <div class="d-flex">
        <div class="mr-auto">
          <h3 class="mt-0 mb-0 text-uppercase">
            <small class="fw-300">{{ usuario.nombre }}</small>
            <strong>{{ usuario.apellido }}</strong>
          </h3>
          <h6 class="mt-0 mb-0 fw-400">
            <i>{{ usuario.email }}</i>
          </h6>
          <p class="text-muted mt-0 mb-0">{{ usuario.rol }}</p>
        </div>
        <div>
          <img src="assets/images/avatar.png" class="avatar-lg rounded-circle" alt="">
        </div>
      </div>
      <div class="mt-5">
        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Mobile</span>
              <strong>+20 0593 4095</strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Extension</span>
              <strong>94</strong>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Birthday</span>
              <strong>30.09.67</strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Country</span>
              <strong>South Africa</strong>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Occupation</span>
              <strong>Assistant</strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Mobile</span>
              <strong>+23908924</strong>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Twitter</span>
              <strong>@mrperkins</strong>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-start">
              <span class="mr-auto">Facebook</span>
              <strong>mrperkins</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        Datos personales
      </div>
      <div class="card-body">
        <form ngNativeValidate (ngSubmit)="f.form.valid && guardar()" #f="ngForm">

          <div class="form-group">
            <label for="txtUsuario">Usuario</label>
            <input [(ngModel)]="usuario.usuario" name="usuario" type="text" class="form-control" id="txtUsuario" placeholder="Ingresa tu usuario"
              disabled required>
          </div>

          <div class="form-group">
            <label for="txtNombre">Nombre</label>
            <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" id="txtNombre" placeholder="Ingresa tu nombre"
              #nombre="ngModel" [ngClass]="{'is-invalid': nombre?.errors?.required}" required>
            <div class="invalid-feedback" *ngIf="nombre?.errors?.required">Ingresa el nombre</div>
          </div>

          <div class="form-group">
            <label for="txtApellido">Apellido</label>
            <input [(ngModel)]="usuario.apellido" name="apellido" type="text" class="form-control" id="txtApellido" placeholder="Ingresa tu apellido"
              #apellido="ngModel" [ngClass]="{'is-invalid': apellido?.errors?.required}" required>
            <div class="invalid-feedback" *ngIf="apellido?.errors?.required">Ingresa el apellido</div>
          </div>

          <div class="form-group">
            <label for="txtEmail">email</label>
            <input [(ngModel)]="usuario.email" name="email" type="email" class="form-control" id="txtEmail" placeholder="Ingresa tu email"
              #email="ngModel" email [ngClass]="{'is-invalid': email?.errors?.email}">
            <div class="invalid-feedback" *ngIf="email?.errors?.email">email incorrecto</div>
          </div>

          <button type="submit" class="btn btn-primary waves-effect waves-light">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
          </button>

        </form>
      </div>
    </div>
  </div>
</div>