<div _ngcontent-c33="" class="row">
  <div _ngcontent-c33="" class="col-md-5">
    <div _ngcontent-c33="" class="card card-body">
      <div _ngcontent-c33="" class="d-flex">
        <div _ngcontent-c33="" class="mr-auto">
          <h3 _ngcontent-c33="" class="mt-0 mb-0 text-uppercase">
            <small _ngcontent-c33="" class="fw-300">Samuel</small>
            <strong _ngcontent-c33="">Perkins</strong>
          </h3>
          <h6 _ngcontent-c33="" class="mt-0 mb-0 fw-400">
            <i _ngcontent-c33="">San Francisco, CA</i>
          </h6>
          <p _ngcontent-c33="" class="text-muted mt-0 mb-0">UX Developer</p>
        </div>
        <div _ngcontent-c33="">
          <img _ngcontent-c33="" alt="" class="avatar-lg rounded-circle" src="assets/images/avatar.jpg">
        </div>
      </div>
      <div _ngcontent-c33="" class="mt-5">
        <div _ngcontent-c33="" class="row mb-2">
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Mobile</span>
              <strong _ngcontent-c33="">+20 0593 4095</strong>
            </div>
          </div>
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Extension</span>
              <strong _ngcontent-c33="">94</strong>
            </div>
          </div>
        </div>

        <div _ngcontent-c33="" class="row mb-2">
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Birthday</span>
              <strong _ngcontent-c33="">30.09.67</strong>
            </div>
          </div>
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Country</span>
              <strong _ngcontent-c33="">South Africa</strong>
            </div>
          </div>
        </div>

        <div _ngcontent-c33="" class="row mb-2">
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Occupation</span>
              <strong _ngcontent-c33="">Assistant</strong>
            </div>
          </div>
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Mobile</span>
              <strong _ngcontent-c33="">+23908924</strong>
            </div>
          </div>
        </div>

        <div _ngcontent-c33="" class="row mb-2">
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Twitter</span>
              <strong _ngcontent-c33="">@mrperkins</strong>
            </div>
          </div>
          <div _ngcontent-c33="" class="col">
            <div _ngcontent-c33="" class="d-flex justify-content-start">
              <span _ngcontent-c33="" class="mr-auto">Facebook</span>
              <strong _ngcontent-c33="">mrperkins</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-c33="" class="col-md-7">
    <div _ngcontent-c22="" class="card">
      <div _ngcontent-c22="" class="card-header">
        Default Bootstrap elements
      </div>
      <div _ngcontent-c22="" class="card-body">
        <p _ngcontent-c22="">
          Bootstrap provides several form control styles, layout options, and custom components for creating a wide variety of forms.
        </p>
        <form _ngcontent-c22="" novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div _ngcontent-c22="" class="form-group">
            <label _ngcontent-c22="" for="exampleInputEmail1">Email address</label>
            <input _ngcontent-c22="" aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
              type="email">
            <small _ngcontent-c22="" class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
          </div>
          <div _ngcontent-c22="" class="form-group">
            <label _ngcontent-c22="" for="exampleInputPassword1">Password</label>
            <input _ngcontent-c22="" class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
          </div>
          <div _ngcontent-c22="" class="form-group">
            <label _ngcontent-c22="" for="exampleInputFile">File input</label>
            <input _ngcontent-c22="" aria-describedby="fileHelp" class="form-control-file" id="exampleInputFile" type="file">
            <small _ngcontent-c22="" class="form-text text-muted" id="fileHelp">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a
              new line.</small>
          </div>
          <button _ngcontent-c22="" class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>