<div class="row">
  <div class="col-sm-12">
    <input type="text" class="form-control mb-3" placeholder="Escribe aquí para filtrar la columna de usuario..." required (keyup)='updateFilter($event)'>

    <div class="card">
      <div class="card-header">
        <button type="submit" class="btn btn-info btn-round waves-effect waves-light ml-auto px-4">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Agregar
        </button>
      </div>
      <div class="card-body">

        <!-- [selectionType]="'single'" [selected]="usuario" (select)='onSelect($event)' -->
        <!-- <ngx-datatable [columns]="columns" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [rows]='data'
          [messages]="{ emptyMessage: 'No hay usuarios', totalMessage: 'usuarios' }" [limit]="7" [loadingIndicator]="cargando"
          [scrollbarH]="true">

          <ngx-datatable-column name="Usuario">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">
                <strong>{{column.name}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Nombre">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">
                <strong>{{column.name}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Apellido">
            <ng-template let-column="column" ngx-datatable-header-template>
              <strong>{{column.name}}</strong>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Email">
            <ng-template let-column="column" ngx-datatable-header-template>
              <strong>{{column.name}}</strong>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Rol">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">
                <strong>{{column.name}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | titlecase}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Acciones" prop="id">
            <ng-template let-column="column" ngx-datatable-header-template>
              <strong>Acciones</strong>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button (click)="editarUsuario(value)" class="btn btn-success btn-icon-icon waves-effect mr-1 mb-1" placement="top" ngbTooltip="editar"
                container="body">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button [disabled]="value === usuarioLogueadoId" (click)="eliminarUsuario(value)" class="btn btn-danger btn-icon-icon waves-effect mr-1 mb-1"
                placement="top" ngbTooltip="eliminar" container="body">
                <i class="fas fa-trash-alt"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable> -->
      </div>
    </div>
  </div>
</div>