<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-1 d-none d-md-inline-flex col-md-6 col-lg-8"></div>
  <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="login()" novalidate>
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="">
        <p class="ff-headers text-uppercase">Inicia sesión en tu cuenta</p>
      </div>
      <fieldset class="form-group">
        <label for="usuario" class="form-control-label">
          Ingresa tu nombre de usuario
        </label>
        <input type="text" class="form-control" formControlName="usuario" autocomplete="usuario" placeholder="nombre de usuario"
          [ngClass]="{'is-invalid': form.controls['usuario'].hasError('required') && form.controls['usuario'].touched}" />
        <div class="invalid-feedback" *ngIf="form.controls['usuario'].hasError('required') && form.controls['usuario'].touched">El nombre de usuario es requerido</div>
      </fieldset>
      <fieldset class="form-group">
        <label for="password" class="form-control-label">
          Ingresa tu contraseña
        </label>
        <input type="password" class="form-control" formControlName="password" autocomplete="current-password" placeholder="contraseña"
          [ngClass]="{'is-invalid': form.controls['password'].hasError('required') && form.controls['password'].touched}" />
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">La contraseña es requerida</div>
        <a [routerLink]="['/authentication/forgot']" class="form-text">
          <small>Recuperar contraseña</small>
        </a>
      </fieldset>
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" formControlName="remember" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Permanecer conectado</label>
      </div>
      <div class="block"></div>
      <button class="btn btn-primary waves-effect" type="submit" [disabled]="!form.valid">Iniciar sesión</button>
      <a class="btn btn-outline-primary btn-link waves-effect" [routerLink]="['/authentication/signup']">Crear una cuenta!</a>
    </form>
  </div>
</div>